@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap");

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: #0f1f1c8a;
  --crimson: #dc143c;
}

body {
  font-family: "Poppins", sans-serif;

  background-color: #f6f6f6;
  color: #0f1f1c;
}
.none {
  display: none !important;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
.container-left {
  padding-right: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}
.container-right {
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}
.block {
  height: 200px;
  background-color: #2e5951;
}
.header {
  overflow: hidden;
  position: relative;
  min-height: 940px;
  padding-top: 44px;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%),
    #204434;
  color: white;
}
.header a {
  color: #fff;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;

  background-image: url("./../img/header/headerBtm.svg");
  background-size: 100%;
}
.header_top {
  margin-bottom: 80px;
}
.header_row {
  display: flex;
}
.header_content {
  max-width: 592px;
  position: relative;
  z-index: 1;
}
.header_img {
  position: relative;
  flex-grow: 1;
}
.header_img img {
  position: absolute;
  top: -181px;
  right: -100px;
  max-width: unset;
  width: 894px;
  height: 940px;
  pointer-events: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  align-items: center;
}
.nav_logo {
}
.block {
}
.nav_list {
  display: flex;
  column-gap: 80px;
  font-size: 15px;
  font-weight: 500;
}

.nav_list a {
  position: relative;
}
.nav_list a.active::after,
.nav_list a:hover::after {
  content: "";

  position: absolute;

  /* right: 2px; */
  bottom: -6px;

  display: block;
  width: 35px;
  height: 4px;
  background-color: #428e5f;
  border-radius: 50px;
}
.nav_list.nav-list_footer a.active::after,
.nav_list.nav-list_footer a:hover::after {
  display: none;
}

.nav_list.nav-list_footer a.active,
.nav_list.nav-list_footer a:hover {
  color: var(--crimson);
}
.nav_login {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  column-gap: 25px;
}
.nav_togle {
  display: none;
}

.logo {
  font-size: 20px;
  color: white;
  font-weight: 700;
}
.logo a {
  color: inherit !important;
}
.btn {
  display: inline-block;
  padding: 13px 44px;

  font-size: 15px;
  font-weight: 500;
  color: #fff !important;

  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
    #ffffff;
  border-radius: 100px;
}
.btn:hover {
  color: rgb(241, 191, 191) !important;
  transition: color 0.1s ease-in;
}
.btn:active {
  position: relative;
  top: 1px;
}

.header_badge {
  display: inline-block;
  padding: 11px 30px;
  font-size: 18px;
  font-weight: 500;
  background-color: #23906283;
  border-radius: 15px;
}
.header_title {
  font-family: "poppins";
  margin-bottom: 30px;
  font-size: 55px;
  font-weight: 400;
}
.header_text {
  margin-bottom: 68px;
  color: #c1d8ca84;
  font-weight: 700;
  font-size: 25px;
  width: 519px;
}
.header_btn {
  display: inline-block;
  padding: 27px 48px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
    #ffffff;
  border-radius: 27px;
  font-size: 25px;
  font-weight: 600;
}
.header_btn:hover {
  color: rgb(241, 191, 191);
  transition: color 0.1s ease-in;
}
.header_btn:active {
  position: relative;
  top: 1px;
}
.destinations {
  overflow-x: hidden;
  padding: 96px 0 100px;
}
.destinations_row {
  column-gap: 50px;
  display: flex;
}
.destinations_content {
  max-width: 456px;
}

.destinations_slider {
  width: 1110px;
  flex-shrink: 0;
}

.destinations_title {
  font-size: 55px;
  font-weight: 600;
}
.destinations_title span {
  font-size: 30px;
}

.destinations_text {
  margin-bottom: 60px;
  font-size: 25px;
  font-weight: 500;
  color: var(--secondary);
}
.slider {
  position: relative;
  height: 456px;
}
.slider_item {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  object-fit: cover;
  border-radius: 35px;
  transition: 0.2s ease-in;
}
.slider .center .slider_item {
  margin-top: 0;
  width: 380px;
  height: 456px;
}
.slider_btn {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  padding-left: 26px;

  display: flex;

  align-items: center;
  background-color: darkorange;
}
.slider_btn-prev {
  left: -27px;

  padding-left: 26px;
  justify-content: flex-start;
}
.slider_btn-next {
  right: -27px;
  padding-right: 26px;
  justify-content: flex-end;
}

.customers {
  padding: 100px 0 33px;
}
.customers_row {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}
.customers_img {
  max-width: 478px;
}
.customers_img img {
  border-radius: 60px;
}

.customers_content {
}
.customers_title {
  font-size: 45px;
  margin-bottom: 35px;
  font-weight: 500;
}
.review {
  max-width: 490px;
}

.review_client {
  margin-bottom: 60px;
  display: flex;
  column-gap: 33px;
  align-items: center;
}
.review_client-avatar {
  overflow: hidden;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: crimson;
}
.review_client-desc {
}
.review_client-desc-name {
  font-size: 33px;
  font-weight: 500;
  margin-bottom: 10px;
}
.review_client-desc-country {
  font-size: 25px;
  color: var(--secondary);
}
.review_text {
  margin-bottom: 30px;
  color: var(--secondary);
  font-size: 22px;
  font-weight: 500;
}

.cta {
  padding: 100px 0;
}

.cta_plate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 580px;
  padding: 40px 15px;

  background-color: #fff;
  border-radius: 60px;
}
.cta_plate::before,
.cta_plate::after {
  position: absolute;
  width: 63px;
  height: 83px;
  content: "";
}

.cta_plate::before {
  left: 74px;
  bottom: 56px;
  background-image: url("./../img/cta/lapkiBtm.svg");
}
.cta_plate::after {
  top: 74px;
  right: 80px;
  background-image: url("./../img/cta/lapkiTop.svg");
}

.cta_title {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 30px;
  width: 529px;
}
.cta_text {
  margin-bottom: 60px;
  font-size: 30px;
  color: var(--secondary);
}

.subscribe {
  padding: 35px 0 50px;
}
.subscibe_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.subscibe_title {
  max-width: 495px;
  margin-bottom: 60px;
  font-size: 55px;
  font-weight: 600;
}
.subscribe-form {
  border-radius: 35px;
  background-color: #fff;
  padding: 12px 15px 12px 46px;
  display: flex;
  column-gap: 20px;
}

.subscribe-form_input {
  font-size: 24px;
  font-weight: 500;
  color: var(--secondary);
}
.subscribe-form_btn {
}
.footer {
  padding: 56px 0 74px;
}
.footer a {
  color: var(--secondary);
}
.logo-footer {
  color: var(--crimson);
}

/* menu-icon */

.menu-icon-wrapper {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 4px;
  --color: #fff;

  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  display: block;

  position: absolute;
  left: 0;

  width: var(--width);
  height: var(--line-height);

  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
  top: calc(var(--line-height) * -2);
}

.menu-icon::after {
  top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before,
.menu-icon.menu-icon-active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
}
@media (max-width: 2000px) {
  .menu-icon {
    display: none;
  }
}
@media (max-width: 1269px) {
  .container-right {
    padding-left: 15px;
  }
  .container-left {
    padding-right: 15px;
  }
}
@media (max-width: 1200px) {
  .destinations_slider {
    width: 900px;
  }
}

@media (max-width: 1000px) {
  .nav-foot {
  }
  .nav-logo-foot {
  }
  .nav_list {
    display: none;
  }
  .nav_login {
    display: none;
  }
  .nav-list-header {
    display: flex;
    column-gap: 40px;
  }
  .nav-login-header {
    display: none;
  }
  .nav-logo-foot {
    /* width: 100%; */
  }
  .nav_toggle {
    display: block;
  }
  .nav-mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-left: 40px;
    background-color: #041f0ffa;
  }
  .nav-mobile .nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    font-size: 22px;
  }
  .nav-mobile .nav_list a.active::after,
  .nav-mobile .nav_list a.hover::after {
    display: none;
  }
  .nav-mobile .nav_login {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    font-size: 22px;
    margin: 25px;
  }
  .nav-mobile .nav_toggle {
    position: fixed;
    top: 50px;
    right: 50px;
  }
  .nav-mobile .logo {
    font-size: 34px;
  }
  .header_img img {
    right: -256px;
  }
  .menu-icon {
    display: block;
  }
}
@media (max-width: 850px) {
  .container-right {
    padding-right: 15px;
  }
  .header {
    padding-top: 30px;
    min-height: unset;
  }
  .header_row {
    flex-direction: column;
  }
  .header_img img {
    position: static;
    height: auto;
    width: 70%;
  }
  .header_title {
    margin-bottom: 20px;
    font-size: 35px;
  }
  .header_text {
    font-size: 20px;
    margin-bottom: 40px;
    max-width: 400px;
  }
  .header_badge {
    margin-bottom: 5px;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 10px;
  }
  .header_btn {
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 18px;
  }
  .slider {
    height: auto;
  }
  .slider .slider_item {
    margin-top: 18px;
    width: 270px;
    height: 320px;
  }
  .slider .center .slider_item {
    margin-top: 0;
    width: 300px;
    height: 350px;
  }
  .subscribe-form {
    /* vertical-align: middle; */
  }
  .customers_row {
    flex-direction: column;
  }
  .customers_img {
    width: 400px;
    margin-top: 30px;
  }
}
@media (max-width: 700px) {
  .header {
  }
  .destinations_row {
    flex-direction: column;
  }
  .destinations_slider {
    width: 100%;
    margin-top: 15px;
    /* padding: 30px; */
  }

  .slider .slider_item {
    margin-top: 18px;
    width: 223px;
    height: 270px;
  }
  .slider .center .slider_item {
    margin-top: 0;
    width: 250px;
    height: 300px;
  }

  .slider_btn-prev {
    left: -15px;
  }
  .slider_btn-next {
    right: -15px;
  }
  .destinations_title {
    font-weight: 5px;
  }
  .customers_row {
    flex-direction: column-reverse;
  }
  .customers_img {
    width: 350px;
    margin-top: 30px;
  }
  .customers_title {
    font-size: 30px;
    margin-top: 10px;
  }
  .review_client-desc-name {
    font-size: 25px;
  }
  .review_client-desc-country {
    font-size: 20px;
  }
  .review_text {
    font-size: 17px;
  }
  .review_rating {
    width: 250px;
  }
  .cta_title {
    font-size: 30px;
  }
  .cta_text {
    font-size: 25px;
  }
  .subscibe_title {
    font-size: 30px;
  }
  .subscribe-form_input {
    width: 170px;
    font-size: 15px;
  }
  .subscibe_content {
    font-size: 30px;
  }
  .nav-foot {
    column-gap: 60px;
  }
  .owl-item {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .subscibe_title {
    font-size: 30px;
  }
  .subscribe-form {
    padding: 10px;
    flex-direction: column;
    row-gap: 10px;
    font-size: 18px;
  }
  .subscribe-form_input {
    padding: 15px 0;
    text-align: center;
    background-color: #428e5f26;
    border-radius: 20px;
  }
  .nav-f {
    flex-direction: column;
    vertical-align: center;
    row-gap: 15px;
    flex-direction: column-reverse;
  }
  .customers_img {
    width: 300px;
  }
  .owl-item {
    display: flex;
    justify-content: center;
  }
  .cta_plate::after {
    top: 30px;
    right: 30px;
  }
  .cta_plate::before {
    bottom: 30px;
    left: 30px;
  }
  .cta_title {
    width: 100%;
  }
  .header_text {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .nav-list-header {
    flex-direction: column;
  }
}
